.landing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    border: 1px solid rgba(0, 0, 0, 0.0625);
    background-color: #fff;
    padding: 2em;
    border-radius: 4px;
}

.landing_content {
    width: 450px;
}

/* input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} */

.or_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.or_container > *{
    flex: 0.3;
}

.loginwith_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.8em 0;
}

.loginwith_container > * {
    cursor: pointer;
}