.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.loggedin_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
}


.auth_btn {
    color: rgb(79, 112, 204);
    cursor: pointer;
    background-color: transparent;
    font-size: 17px;
    padding: 7px 30px;
    border-radius: 3px;
    border: none;
}

.sidebar {
    flex: 0.2;
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.0625);
    transition: 2s;
    transition-delay: 1s;
}

.main_content {
    padding: 2em;
    background-color: #f9fafb;
    height: 100%;
    position: relative;
    transition: 2s;
    transition-delay: 3s;
}

.content_container {
    flex: 0.8;
}

.content_container_full {
    flex: 1;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
    height: 60px;
}

.sidebar ul {
    margin-top: 1em;
}

.sidebar ul li {
    padding: 0.5em 2em;
    margin-bottom: 0.2em;
    cursor: pointer;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.0625); */

}